// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

.jumbotron {
  background: url("img/pirate-ship.jpg") no-repeat center; 
  background-size: cover;
  font-family: 'ArchitectsDaughter';
  font-style: italic;
}

.display-4 {
  color: #ffffff;
}

.lead {
  font-family: 'Caveat';
  color: #ffffff;
}

.byline {
  font-weight: bold;
  font-family: 'Satisfy';
  line-height: 0.5rem;
}

.credit {
  font-style: italic;
  font-family: 'Caveat';
  line-height: 0.5rem;
}

.content {
  font-family: 'Satisfy';
}

#story {
  font-family: 'Caveat';
  font-size: 1.2rem;
}

.footer {
  font-family: 'ArchitectsDaughter';
  font-style: italic;
  color: #ffffff;
}

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here
